<div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        <input id="upload-image-input" type="file" name="image" data-url="@Url.Action("Upload")" />
        <button id="upload-image-button" class="label label-success">Upload</button>
        <span id="upload-image-info" class="label label-info">
            Select Image
        </span>
    </div>
</div>
